

.header, .Bienvenue, .Fonctionnement, .Restaurant, .footer {
    animation: animation-accueil 300ms 4s backwards;
}

////////////////// Section n°1 : Section de bienvenue et Btn d'action //////////////

// Change la couleur du bouton d'accueil au hover
.Bienvenue__Btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

///////////////// Section n° 2 : Fonctionnement du site ////////////////////:

.Fonctionnement__article {
    @for $i from 1 through 3 {
        &--#{$i} {
            animation: ploof 300ms * $i 2s;
        }
    }   
}
.Fonctionnement__article:hover {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    .fa-solid {
        color: $main-color;
    }
}



/////////////////// Section n° 3 : Section qui contient les 4 restaurants ///////////////////

// Animation du Bouton like au hover de la souris 
.likeBtn:hover {
    .fa-solid {
        transform: scale(1);
    }
    .fa-regular {
        opacity: 0;
    }
}

///////////////// Section n°4 : Section qui contient le chargement, mis en diplay:none quand animation terminée /////////

.Chargement {
    // Permet d'animer le block de chargement puis disparition de la page 
    animation: block-chargement 0s 4s both ;
    // animation bâtement de coeur du logo 
    &__img {
        
        .logo {
            animation: heartbeat 300ms ease-out 1.3s forwards 1;
        }
}
    // Animation du Chargement 
    &__box {
        &--tiret {
            animation: chargement 1000ms backwards infinite alternate;
            @for $i from 1 through 4 {
                &--#{$i} {
                    animation-delay: 250ms * $i;
                }
            }
        }
    }
    // Permet d'animer les 3 petits points à la suite de "chargement en cours"
    &__txt {
        &-p {
            &--span {
                animation: load 1000ms forwards infinite alternate;
                @for $x from 1 through 3 {
                    &--#{$x} {
                        animation-delay: 333ms * $x;
                    }
                }
            }
        }
    }

}

/// Le loading de la page d'accueil //////////:
.Chargement__img--cuisine-flamme img {
    animation: flamme 3s both infinite;
}