.restaurant {
    &__content {
        // Permet de mettre un like au hover de la souris 
        &-title {
            // Animation du Bouton like au hover de la souris 
            .likeBtn:hover {
                .fa-solid {
                    transform: scale(1);
                }
                .fa-regular {
                    opacity: 0;
                }
            }
        }
        &-menu {
            &--title {
            // Permet d'animer l'intitulé des plats (entrées, plats, desserts)
            animation: tada 300ms ease-in forwards;
            @for $i from 1 through 3 {
                &--#{$i} {
                    animation-delay: 3.3s + 300ms * $i;
                }
            }
            }
            &--assiette {
                // Permet d'animer la sélection - apparition de la gauche vers la droite 
                animation: apparitionGauche 300ms ease-out both;
                @for $i from 1 through 10 {
                    &--#{$i} {
                        animation-delay: 300ms * $i;
                    }
                }
                // Le bouton checked s'affiche au click
                // À l'état d'origine le checkbox ne s'affiche pas "width: 0%" 
                input[type="checkbox"] + .checkbox-faBtn {
                    transition: all 0.3s ease-in;
                }
                // Quand il est coché il s'affiche "width: 20%"
                input[type="checkbox"]:checked + .checkbox-faBtn {
                    width: 20%;
                    transition: all 0.3s ease-in;
                    .fa-check {
                        visibility: visible;
                    }
                }
                // Quand il coché le label prend un width de 80% 
                input[type="checkbox"]:checked + .checkbox-faBtn + article {
                    width: 80%;
                    transition: all 0.3s ease-in;
                }
            }
            // Le hover pour afficher le .checkbox-faBtn s'active uniquement pour l'ordinateur 
            @media (min-width: 1024px) {
                &--assiette:hover {
                    input[type="checkbox"] + .checkbox-faBtn {
                        transition: all 0.3s ease-in;
                        width: 20%;
                        .fa-check {
                            visibility: visible;
                        }
                    }
                    input[type="checkbox"] + article {
                        width: 80%;
                        transition: all 0.3s ease-in;
                    }
                }
            }
            input[type="submit"]:hover {
                opacity: 0.9;
                cursor: pointer;
            }
        }
    }
}