// Permet de faire apparâitre les éléments depuis la gauche 
@keyframes apparitionGauche {
    from {
        transform: translateX(-400%);
    }
    to {
        transform: translateX(0);
    }
}

.header, .Bienvenue, .Fonctionnement, .Restaurant, .footer {
    animation: animation-accueil 300ms 4s backwards;
}

// Section n°1 : Section de bienvenue et Btn d'action 

.Bienvenue {
    @for $i from 1 through 3 {
        &--#{$i} {
            animation: apparitionGauche 300ms * $i ;
        }
    }
    &__Btn:hover {
        opacity: 0.9;
    }
}

// Section n° 2 : Fonctionnement du site 

.Fonctionnement__article {
    @for $i from 1 through 3 {
        &--#{$i} {
            animation: ploof 300ms * $i;
        }
    }
}

// Section n° 3 : Section qui contient les 4 restaurants 

// Animation du Bouton like au hover de la souris 
.likeBtn:hover {
    .heart-hidden {
        opacity: 1;
    }
    .fa-regular {
        opacity: 0;
    }
}

// Section n°4 : Section qui contient le chargement, mis en diplay:none quand animation terminée 

.Chargement {
    // Permet d'animer le block de chargement puis disparition de la page 
    animation: block-chargement 4s forwards;
    // animation bâtement de coeur du logo 
    &__img {
        .logo {
            animation: heartbeat 300ms ease-out 1.3s backwards 1;
        }
        .avec {
            animation: ploof 400ms ease-in 1500ms both;
        }
        .Abdi {
            animation: ploof 400ms ease-in 1900ms both;
        }
    }
    // Animation du Chargement 
    &__box {
        &--tiret {
            animation: chargement 1000ms backwards infinite alternate;
            @for $i from 1 through 4 {
                &--#{$i} {
                    animation-delay: 250ms * $i;
                }
            }
        }
    }
    // Permet d'animer les 3 petits points à la suite de "chargement en cours"
    &__txt {
        &-p {
            &--span {
                animation: load 1000ms forwards infinite alternate;
                @for $x from 1 through 3 {
                    &--#{$x} {
                        animation-delay: 333ms * $x;
                    }
                }
            }
        }
    }

}