/* Variable des couleurs principales & les font family  */
$main-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$green-font : #008766;
$grey-1: #F6F6F6;
$grey-2: #EAEAEA;
$bcg-footer: #353535;
$font-title: 'Shrikhand', serif;
$font-txt: 'Roboto', sans-serif;

// 
@mixin like-aprence {
  color: transparent;
  background: linear-gradient(110deg, $secondary-color, $main-color);
  background-clip: text;
}

/* Apparence des boutons & des cards */
@mixin Btn-primaire {
  background: linear-gradient($secondary-color, $main-color);
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: white;
  padding: 13px 18px;
  border: none;
}

// Apparence des Box en général
@mixin box-apparence {
  border-radius: 15px;
  background: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
  overflow: hidden;
}

// Customisation de la div qui contient un input checkbox 
@mixin checkbox-apparence {
  @include box-apparence();
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0;
  width: 100%;
}

/*.header, .main, .footer {
    max-width: 1440px;
    margin: 0 auto;
}*/

:root, body {
    margin: 0;
    padding: 0;
    font-family: $font-txt;
}
  
  a {
    text-decoration: none;
    color: black;
  }
  
  h1, h2 {
    font-family: $font-title;
  }
  
  h1, h2, h3, p {
    margin: 0 0 5px 0;
    padding: 0;
  }