/**** SCSS pour mobile fisrt ****/
/*** Section n°1 : Accueil (Réserver un menu...) ****/
.Bienvenue {
    background-color: $grey-1;
    padding: 40px 30px;
    text-align: center;
    &__title {
        font-size: 28px;
        margin-bottom: 25px;
        font-family: $font-txt;
    }
    &__txt {
        margin-bottom: 40px;
        font-weight: 200;
    }
    &__Btn {
        @include Btn-primaire();
        margin-top: 50px;
    }
}

/*** Section n°2 : Les fonctionnalités ****/
.Fonctionnement {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
    }
    &__title {
        @media (min-width: 768px) {
            position: absolute;
        }
    }
    &__article {
        @include box-apparence();
        background-color: $grey-1;
        margin: 10px 20px;
        padding: 20px 5px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        overflow: visible;
        @media (min-width: 768px) {
            width: 31%;
            margin: 50px 0 0 0;
        }
        h3 {
            width: 70%;
            font-size: 14px;
            margin: 0;
        }
        .Fonctionnement__txt {
            position: absolute;
            left: -5px;
            top: 35%;
            background-color: $main-color;
            color: white;
            padding: 0 5px;
            border-radius: 25px;
        }
    }
}

/*** Section n°3 : Les restaurants  *******/
.Restaurant {
    background-color: $grey-1;
    padding: 20px;
    &__title {
        margin-bottom: 20px;
    }
    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        @media (min-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &--card {
            width: 100%;
            @include box-apparence();
            position: relative;
            margin-bottom: 30px;
            @media (min-width: 768px) {
                width: 48%;
            }
            img {
                width: 100%;
                height: 120px;
                object-fit: cover;
                display: block;
                @media (min-width: 768px) {
                    height: 230px;
                }
            }
            &-content {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 15px 20px 10px 20px;
                .card-content__txt p {
                        font-weight: 200;
                        width: 95%;
                }
                .likeBtn {
                    position: relative;
                    width: 5%;
                    .fa-solid {
                        @include like-aprence;
                        position: absolute;    
                    }
                    .fa-heart {
                        margin-top: 15px;
                    }
                    .fa-regular {
                        position: absolute;
                        transition: all 0.3s ease-in;
                    }
                    .heart-hidden {
                        transform: scale(0);
                        transition: all 300ms ease-in;
                    }
                }
                
            }
            &-nvx {
                position: absolute;
                top: 15px;
                right: 15px;
                background-color: $tertiary-color;
                color: $green-font;
                padding: 6px 9px;
                border-radius: 4px;
            }
        }
    }
}

// Section n°4 : Dédier à l'animation prévu lors du chargement de la page 
.Chargement {
    height: 0;
    margin: 50px 0;
    @media (min-width: 1024px) {
        margin: 30px 0;
    }
    &__img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 80%;
        .logo {
            //background: linear-gradient(50deg, $secondary-color, $main-color);
            width: 55%;
        }
        &--cuisine {
            width: 30%;
            margin: 30px 0 30px 5%;
            &-flamme {
                position: relative;
                padding-left: 15%;
                @media screen and (min-width: 768px) {
                    padding-left: 20%;
                }
                img {
                    width: 10%;
                }
                .f3 {
                    position: absolute;
                    top: 20%;
                    left: 35%;
                    z-index: -1;
                }
            }
            // Image de la poele 
            .Poele {
                width: 90%;
            }
        }
    }
    &__box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 40px 0;
        &--tiret {
            width: 5px;
            height: 50px;
            background: linear-gradient(110deg, $secondary-color, $main-color);
            margin-right: 10px;
            @media screen and (min-width: 1024px) {
                width: 10px;
                height: 80px;
            }
        }
    }
    &__txt {
        text-align: center;
    }
}

// Permet de centrer le contenu sur Desktop avec un max width de 1024px
@media (min-width: 1024px) {
    .Restaurant__container, .Restaurant__title, .Fonctionnement {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }
}