// Code général de toutes les pages de restaurants 

.main {
    .restaurant {
        // Image du restaurant
        img {
            width: 100%;
            display: block;
            position: relative;
            object-fit: cover;
            height: 250px;
            z-index: -1;
            @media (min-width: 768px) {
                height: 300px;
            }
            @media (min-width: 1024px) {
                height: 350px;
            }
        }
        // Compisition du menu du restaurant
        &__content {
            padding: 20px;
            border-radius: 35px 35px 0 0;
            margin: -40px auto 0 auto;
            background-color: $grey-1;
            max-width: 1024px;
            &-title {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                h1 {
                    width: 95%;
                }
                .likeBtn {
                    width: 5%;
                    position: relative;
                    .fa-solid {
                        @include like-aprence;
                        position: absolute;
                    }
                    .fa-heart {
                        margin-top: 15px;
                    }
                    .fa-regular {
                        position: absolute;
                        transition: all 0.3s ease-in;
                    }
                    .heart-hidden {
                        transform: scale(0);
                        transition: all 300ms ease-in;
                    }
                }
                @media (min-width: 768px) {
                    max-width: 768px;
                    margin: 30px auto;
                    font-size: 26px;
                }
            }
            // Customiser le formulaire du menu 
            &-menu {
                display: flex;
                flex-direction: column;
                justify-content: center;
                @media (min-width: 768px) {
                    align-items: center;
                }
                // Intitulé Entrée - Plat - Dessert
                &--title {
                    @media (min-width: 768px) {
                        width: 100%;
                        margin: 0 0 0 10px;
                        padding: 0 0 0 10px;
                        max-width: 768px;
                    }
                    h2 {
                        margin: 40px 0 0 0;
                        font-family: $font-txt;
                        font-weight: 300;
                        font-size: 16px;
                    }
                    .underline {
                        text-decoration: underline;
                        width: 10%;
                        font-size: 30px;
                        font-weight: 900;
                        color: $tertiary-color;
                        margin: -25px 0 10px 0;
                        display: block;
                    }
                }
                // Composition du menu : Entrée, Plats, Dessert
                &--assiette {
                    @include checkbox-apparence;
                    max-width: 768px;
                    label {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding: 8px 10px;
                        overflow: hidden;
                        width: 100%;
                        transition: all 0.3s ease-in;
                        .label__title {
                            font-size: 18px;
                            font-weight: 700;
                            width: 60%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .choix-txt {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            &--description {
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                width: 80%;
                            }
                        }
                    }
                    // Input non visible à l'écran
                    input[type="checkbox"] {
                        appearance: none;
                        display: none;
                    }
                    .checkbox-faBtn {
                        background-color: $tertiary-color;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        max-width: 70px;
                        margin-left: 5px;
                        margin-right: -3px;
                        transition: all 0.3s ease-in;
                        width: 0%;
                        .fa-check {
                            background-color: white;
                            border-radius: 25px;
                            padding: 3px;
                            color: $tertiary-color;
                            visibility: hidden;
                            transition: all 0.15s ease-in;
                        }
                    }
                }
                // Bouton Submit : Commander 
                input[type="submit"] {
                    @include Btn-primaire();
                    padding: 15px 10%;
                    margin: 40px auto;
                }
            }
        }
    }
}